.common-layout {
  .ty-header,
  .ty-footer,
  .ty-main,
  .ty-aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ty-header,
  .ty-footer {
    background-color: var(--ty-color-primary-light-7);
    color: var(--ty-text-color-primary);
    text-align: center;
  }

  .ty-aside {
    background-color: var(--ty-color-primary-light-8);
    color: var(--ty-text-color-primary);
    text-align: center;
  }

  .ty-main {
    background-color: var(--ty-color-primary-light-9);
    color: var(--ty-text-color-primary);
    text-align: center;

    height: 150px;
  }
}
